<li>
    <p style="font-size: 20px;font-weight: 800;">
     <% if((locals.user) && (locals.user.id ==post.user.id))
      {%>
        <a href="/posts/destroy/<%= post.id %>"><i class="fa-solid fa-delete-left" style="color: #8b0909;"></i></a>
      <%}%>
      <%= post.content %>
        <br>
        <small>
          <%= post.user.name %>
        </small>
    </p>

    <div class="post-comments">
      <%if(locals.user) {%>
        <form action="comments/create" method="POST">
          <input type="text" name="content" placeholder=" Type here to add Comments">
          <input type="hidden" name="post" value="<%= post._id %>">
          <input type="submit" value="Add comment">

        </form>
        <% }%>
    </div>

    <div class="post-comments-list">
      <ul id="post-comments-<%= post._id%>">
        
        <%for( comment of post.comments) {%>
          
            <%- include('_comment') -%>
          <% }%>
        
      </ul>
      

    </div>
  </li>